@import 'https://fonts.googleapis.com/css?family=Patrick+Hand+SC';

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background: #f5f5f5;
  color: #67727a;
  font-family: "Patrick Hand SC", sans-serif;
  margin: 0;
}

h2{
  font-size: 250%;
  font-weight: 700;
  text-align: center;
  padding-top: 2%;
  color: #f5f5f5;
}

h3{
  font-size: 175%;
  line-height: 155%;
  padding: 5% 0;
  font-weight: 400;
  color:#f5f5f5;
}

p{
  font-family: "Patrick Hand SC", sans-serif;
  color: #f5f5f5;
  font-size: 160%;
  line-height: 150%;
  padding: 3%;
  text-indent: 2%;
  text-align: justify;
}

img{
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px;
}

header{
  background-color: #6991ac;
  width: 100%;
  height: 86px;
  position: fixed;
  top: 0;
  left: 0;
  z-index:100;
  opacity:0.9;
}

#header-inner{
  max-width: 1200px;
  margin: 0 auto;
}

#logo{
  margin: 20px;
  float: left;
  width: 200px;
  height: 60px;
  background: url(./img/Floppy-48.png) no-repeat center;
}

/*Starting navigation*/
nav{
  float: right;
  padding: 25px 20px 0 0;
}

#menu-icon{
  display: hidden;
  width: 40px;
  height: 40px;
  background: url(./img/nav.png) center;
}

a:hover#menu-icon{
  border-radius: 4px 4px 0 0;
}

ul{
  list-style-type: none;
}

nav ul li{
  font-family: "Patrick Hand SC", sans-serif;
  font-size: 150%;
  display: inline-block;
  float: left;
  padding: 10px;
}
nav ul li a{
  color: #f5f5f5;
  text-decoration: none;
}
nav ul li a:hover{
  color: #c3d7df;
}

.current{
  color: #c3d7df;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family: 'Patrick Hand SC', arial, sans-serif;
  padding: 5px 16px;
  font-weight: bold;
  margin-top: -8px;
}
a.btn-cta-primary,
.btn-cta-primary {
  background: #54ba4e;
  border: 1px solid #54ba4e;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #49ac43;
  border: 1px solid #49ac43;
  color: #fff;
}

/*Start image slider*/
#doc{
  margin: 40px 0;
}
#content{
  width: 80%;
  margin: auto;
  overflow: hidden;
  margin-top:110px;

}
.blueberry{
  /*min-height: 400px;*/
  margin-top: 110px;
}

/*Start one-fourth section*/
.one-fourth{
  width: 25%;
  float: left;
  text-align: center;
}

#education{
  background-color: #f1aa90;
}
#interests{
  background-color: #beb9ad;
}
#resume{
  background-color: #aadcd2;
}
#social{
  background-color: #a2b2c1;
}
.one-fourth i{
  color: #f0f0f0;
  font-size:500%;
  padding: 13% 0 4% 0;
}

/*Start half-page sections*/
.inner-wrapper{
  float: left;
  width: 100%;
  background-color: #c3d7df;
}
article{
  float: left;
  margin: 0 auto;
  width:50%;
  height: auto;
}
#tablet{
  background-color: #c3d7df;
}
aside{
  float: right;
  margin: 0 auto;
  width: 50%;
  height: auto;
}
#tablet2{
  background-color: #a2b1c1;
}

#mobile{
  background-color: #beb9ad;
}


#desktop{
  background-color: #f1aa90;
}

.inner-wrapper-2{
  float: left;
  width:100%;
  background-color: #c3d7df;
}

.inner-wrapper-3{
  float:left;
  width: 100%;
  background-color: #aadcd2;
}

.one-third{
  width: 33.333333333333333333333%;
  float: left;
  text-align: center;
}

#google{
  background-color: #a2b1c1;
}

#marketing{
  background-color: #beb9ad;
}

#customers{
  background-color: #aadcd2;
}

#smiley{
  background-color: #aadcd2;
  padding: 0 0 1%;
  clear: both;
}

/*Starting footer*/
footer{
  background-color: #6991ac;
  width: 100%;
}
.social{
  list-style-type: none;
  text-align: center;
}
.social li{
  display: inline;
  height: 65px;
  width: 65px;
}
.social i{
  font-size: 460%;
  margin: 1%;
  padding: 5% 5% 5% 4%;
  color: #c3d7df;
}
.social i:hover{
  color: #f5f5f5;
}

footer.second{
  border-top: 1px solid #aadcd2;
  background-color: #544b59;
  max-height: 55px;
  margin: 0;
}

footer.second p{
  padding: 5px 0 9px 0;
  text-align: center;
}

/*Starting media queries*/
@media screen and (max-width: 768px){
  h2{
    font-size: 150%;
  }
  h3{
    font-size: 125%;
  }
  p{
    font-size: 120%;
  }
  header{
    position: absolute;
  }
  #logo{
    margin:15px 0 20px -25px;
    background:
  }
  #menu-icon{
    display: inline-block;
  }
  nav ul, nav:active ul{
    display: none;
    z-index: 1000;
    position: absolute;
    padding: 20px;
    background: #6991ac;
    right: 20px;
    top: 60px;
    border: 1px solid #fff;
    border-radius: 5px 0 5px 5px;
    width: 50%;
  }
  nav:hover ul{
    display: block;
  }
  nav li{
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }
  .one-fourth{
    float: left;
    width:100%;
  }
  .one-fourth i{
    font-size: 350%;
    padding: 4% 0 1% 0;
  }
  article{
    width:100%;
  }
  aside{
    width:100%;
  }
  .hand-mobile{
    display: none;
  }
  .one-third{
    width: 100%;
  }
  .social i{
    font-size: 180%;
  }
  .btn {
    margin-top: 30px;
    float: none !important;
    text-align: center;
  }
}
